<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div id="header">
		<div th:insert="fragment :: header"></div>
	</div>
	<div id="main">
		<div id="menu">
			<div th:insert="fragment :: menu"></div>
		</div>

		<div id="contenu">
			<script src="script/controleformulaire.js"></script>
			<form name="formulaire" onsubmit="confirmAjoutStagiaire()"
				method="post" th:action="@{/ajoutstagiaire}"
				th:object="${stagiaire}">
				<label for="nom">Nom : </label> <br /> <input type="text" name="nom"
					th:field="*{nom}" id="nom" required /><br />
				<br /> <label for="prenom">Prenom : </label> <br /> <input
					type="text" name="prenom" id="prenom" th:field="*{prenom}" required /><br />
				<br /> <label for="adresse">Adresse : </label> <br />
				<textarea name="adresse" id="adresse" th:field="*{adresse}" rows="3"
					cols="50" required></textarea>
				<br />
				<br /> <label for="email">Email : </label> <br /> <input
					type="email" name="email" id="email" th:field="*{email}" required
					pattern="^[\w-\.]+@[\w]+([\w-]+[\w]){0,}\.[\w]{2,}$" /><br /> <br />
				<label for="tel">Tel: </label><br /> <input type="tel" name="tel"
					id="tel" th:field="*{tel}" required
					pattern="^(\+33|0|0033)[1-9][0-9]{8}$" /><br />
				<br /> <label for="idFormation">Choisir une formation</label> <select
					name="idFormation" id="idFormation" th:field="*{formation}">
					<option th:each="form : ${listFormation}"
						th:utext="${form.getNom()}" th:value="${ form.getId() }" />
				</select><br />
				<br /> <input type="submit" value="confirmer" />
			</form>
		</div>
	</div>

	<div id="footer">
		<a
			href="https://simplon.co/?utm_term=simplon&utm_campaign=Simplon-Marque-Pur&utm_source=adwords&utm_medium=ppc&hsa_acc=9500748942&hsa_cam=16685237686&hsa_grp=137498028160&hsa_ad=589770540606&hsa_src=g&hsa_tgt=aud-1653719853808:kwd-337968428781&hsa_kw=simplon&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gclid=Cj0KCQiA99ybBhD9ARIsALvZavXeY8O5HsRz1UB2pReD5Yq9qlW88bG9fSK_MbHdq6jCD_xjsIYR-CIaAhOtEALw_wcB">Simplon,
			site officiel</a>
	</div>

</body>
</html>