<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/style.css" />
</head>
<body>
<div th:fragment="header">
	<div id="conteneur">
    <div class="element 1">
    	<p class="deconnexion" th:if="${session}">
         <a href="/logout"><img src="images/deconnexion.jpg" alt="Deconnecter" height="70"  width="80"></a>
      	</p>
    </div>
     
    <div class="element 2"><h3 th:text="${session.utilisateur.getNom()}+' '+ ${session.utilisateur.getPrenom()}"></h3>
    <h1><mark th:text="${ session.factory.getNom() }"></mark></h1></div>
	<div class="element 3"></div>
	</div>
</div>

<div th:fragment="menu">
	<h2 Align=Center><mark th:text="${ session.factory.getNom() }"></mark></h2>
		<p><a href="/listformation">Liste formations </a></p>
		<p><a href="/ajoutstagiaire">Ajouter stagiaire</a></p>
		<p><a href="/ajoutformation">Ajouter formation</a></p>
</div>
</body>
</html>



      
    
        
 

