
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<header>
		<div th:insert="fragment :: header"></div>
	</header>
	<p><a href='./liststagiaire?idFormation=<c:out value="${ idFormation }"/>'><img src="images/precedent.jpg" alt="retour" height="50"  width="60"></a></p>
	<h3><span th:text="${stagiaire.getNom()}+' '+${stagiaire.getPrenom()}" ></span> </h3>
	<p>Email: <span th:text="${ stagiaire.getEmail() }"></span></p>
	<p>Tel: <span th:text="${ stagiaire.getTel() }"></span></p>
	<p>Adresse: <span th:text="${ stagiaire.getAdresse() }"></span></p>
	
	
	
</body>
</html>